body{
    font-family: 'Times New Roman', Times, serif;
}
.master{
    background-color: #1F2937;
    color: white;
    height: 50vh;
}
.all{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.header{
    display: flex;
   gap: 540px;
    align-items: center;
    
}
.logo{
    font-weight: bolder;
    font-size: 24px;
    color: #F9FAF8;
}
.links{
     list-style-type: none;
    display: flex;
    gap: 10px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    margin-top: 100px;
}
.bold-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.text{
    font-size: 24px;
    color: #E5E7EB;
    margin-bottom: 10px;
}
.image{
    display: flex;
    width: 470px;
    height: 230px;
    background-color: slategrey;
    align-items: center;
    justify-content: center;
}
.button{
    width: 130px;
    height: 35px;
    border-radius: 10px;
    padding: 5px;
    background-color:royalblue;
    color: #F9FAF8;
    font-size: 16px;
    border-color: #3882F6;
    margin: 0px;
    font-weight: bolder;
}
.main-half{
    display: flex;
    flex-direction: column;
}
.main-two{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}
.header-two{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 40px;
}
.boxs{
    display: flex;
    gap: 30px;
}
.boxs div{
    border: solid 3px #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 20px;
}
.texts{
    display: flex;
    gap: 40px;
    width: 700px;
    color: #1F2937;
}
.main-three{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.quote{
    font-size: 36px;
    color: #1F2937;
    width: 750px;
}
.quote-two{
    font-weight: bolder;
 margin-left: 550px;
 font-size: 24px;
}
.master-four{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-four{
    display: flex;
    background-color: #3882F6;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 700px;
    margin: 70px 50px;
    border-radius: 10px;
    padding: 10px 50px;
}
.main-left{
    display: flex;
    flex-direction: column;
    color:#E5E7EB;
}
.text-one{
    font-weight: bolder;
    font-size: 24px;
}
.main-right{
    display: flex;
}  
button{
    width: 100px;
    height: 30px;
    border-radius: 7px;
    background-color: #3882F6;
    border:solid 2px white;
    color: white;
    margin-left: 100px;
}
